.arrow-down
    text-align center
    margin-top 40px

.arrow-down__link__img
    width 10%
    animation move-down 1s infinite

@keyframes move-down
    50% {transform: translateY(25px);
                    opacity: 0.5;}