.banner-content
  width 560px
  align-self flex-end
  margin-bottom 100px

.banner-content__title
  margin 0

.banner-content__description
  margin 10px 0
  font-size 20  px

.banner-content__description__featured
  font-weight 700
