.content-main
    width 60%
    align-self flex-end
    margin-bottom 100px

@media(max-width: 860px)
    .content-main
        font-size 20px

@media(max-width: 560px)
    .content-main
        font-size 14px
        margin 0 auto 0 20px
        align-self center

.content-main__title
    margin 0

.content-main__description
    margin 10px 0
    font-size 20px

@media(max-width: 560px)
    .content-main__description
        font-size 14px

@media(max-width: 560px)
    .content-main__description
        font-size 14px

.content-main__description__featured
    font-weight 700
