.figure
    margin 0 auto 20px auto
    width 100%
    max-width 45%

@media(max-width: 860px)
    .figure
        max-width 65%

@media(max-width: 560px)
    .figure
        max-width 75%

.figure__map
    width 100%
    max-width 80%
    margin: 0 0 0 auto
    height auto
    display block
    cursor pointer

@media(max-width 700px)
    .figure__map
        margin 0 auto