.footer
    width 100%
    background var(--bg-color)
    position relative
    height auto
    padding 20px 10px
    font-size 13px


.footer__list
    list-style none
    margin 0 0 50px 0
    padding 5px
    font-size 15px
    width 50%

.footer__list__item
    margin 5px 0

.footer__list__item__link
    text-decoration none
    color var(--secundary-color)
    padding 5px

.footer__list__item__link:hover
        color var(--bg-color)
        background var(--secundary-color)

.footer__all-rights
    text-decoration none
    color var(--secundary-color)
    padding 5px

.footer__all-rights:hover
        color var(--bg-color)
        background var(--secundary-color)
