.footer
    width 100%
    background #e88ab8
    position relative
    height 250px
    padding 20px 10px
    font-size 13px


.footer__list
    list-style none
    margin 0
    padding 5px
    font-size 15px
    width 50%

.footer__list__item
    margin 5px 0

.footer__list__item__link
    text-decoration none
    color #fff

.footer__all-rights
    color #fff
    margin-top 100px