.menu
    position fixed
    right 100px
    padding 15px 10px
    width 200px
    height 250px
    z-index 1
    bottom 200px

@media(max-width: 1100px)
    .menu
        right 40px

@media(max-width: 860px)
    .menu
        right 10px
        padding 15px 10px
        width 200px
        height 250px
        bottom 10px

.menu__list
    list-style none
    margin 10px 0
    padding 5px
    font-size 15px

.menu__list__item
    margin 5px 0
    text-align right

.menu__list__item__link
    text-decoration none
    color var(--primary-color)

@media(max-width: 860px)
    .menu__list__item__link
        color var(--secundary-color)