.text 
    width 100%
    height 100%
    background #fff
    top 100%
    position absolute
    z-index 2
    display flex
    flex-wrap wrap
    justify-content center
    align-content center

.text__title
    margin .3% 0
    padding 2%
    width 100%
    max-width 70%

.text__description
    margin .3% 0
    padding 2%
    width 100%
    max-width 70%
