/* - Header
=========================================== */

.header {
  width: 100%;
  height: 50px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

.home-menu-titulo {
  color: #fff;
  font-weight: 400;
  font-size: 120%;
  text-transform: uppercase;
  cursor: pointer;
  width: 360px;
  padding: 5px 15px;
  font-size: 16px;
}

.home-menu-list {
  list-style: none;
  display: flex;
  color: #fff;
  margin-left: auto;
  max-width: 400px;
  padding: 5px;
  font-size: 14px;
}

@media(max-width: 600px) {
  .header {
    height: 80px;
  }

  .home-menu-titulo {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .home-menu-list {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
}

.home-menu-list-item {
  margin: 10px;
  cursor: pointer;
}