/* Settings */
@import './settings/colors'

/* Tools */

/* Generic */
@import './generic/global'

/* Base */
@import './base/page'

/* Objects */
@import './objects/content-main'
@import './objects/arrow-down'
@import './objects/text'
@import './objects/contact'
@import './objects/menu'
@import './objects/footer'
@import './objects/btn'
@import './objects/figure'

/* Components */
@import './components/header'
@import './components/container'

/* Trumps */